{% extends 'layout.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <div class="full">
        <div class="div2">
            <h1 style="margin-bottom: 20px;">Login</h1>
            <form action="{{url_for('main.login')}}" class="form" method="post">
                <div>
                    <h3>Username</h3>
                    <input type="text" name="username" required>
                </div>
                <div>
                    <h3>Password</h3>
                    <input type="password" name="password" required>
                </div>
                <div>
                    <input type="submit" value="Login">
                </div>
            </form>
            <div class="div3">
                <p>Not a user <a href="/register">Register</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}